<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unit.tool.com.screentouchcontroller" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS"></uses-permission>
</manifest>